.individual-card-bg {
  position: relative;
  background: var(--green);
  padding: 10px;
  cursor: pointer;
  min-height: 450px;
  border-radius: 30px;
  margin: 0rem 2% 8rem 2%;

  transition: var(--def-btn-tranf-and-box-shadow);

  &:hover {
    z-index: 10;
    transform: scale(1.02);
    box-shadow: var(--box-shadow-hover);
  }

  &:active {
    transform: scale(0.98);
    box-shadow: var(--box-shadow-clicked);
  }

  &:focus-visible {
    outline: var(--def-focus-outline);
  }

  &:before {
    content: "";
    position: absolute;
    top: 54px;
    left: 0px;
    height: 5px;
    width: 100%;
    background: var(--green);
  }

  &>* {
    border-radius: 25px;
  }

  h2 {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .card-price {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .description {
    max-width: 350px;
    line-height: clamp(1.4rem, 4vw, 1.8rem);

    @media (max-width: 600px) {
      max-width: none;
    }
  }

}