.login-form,
.create-form {
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  flex-shrink: 0;
  max-width: 500px;
  margin: 0 auto;

  .btn-semi-big {
    width: 100%;
    max-width: 500px;

    margin-bottom: 40px;
  }

  .input-wrapper {
    margin: 60px 0;
  }

  .btn-def {
    width: 100%;
    max-width: 320px;
    margin-bottom: 15px;
  }
}