.card-anim {

  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;

  &:hover img {
    filter: contrast(130%) brightness(1.2)
  }

  img {
    transition: filter 0.5s ease;
  }

  &:hover {
    z-index: 10;
    transform: scale(1.03);
    box-shadow: var(--btn-box-shadow-hover);
  }

  &:focus-visible {
    outline: 3px solid var(--green-bright);
  }

  &:active {
    transform: scale(0.98);
    box-shadow: var(--box-shadow-clicked);
    translate: none;
  }
}

.btn-anim {
  transition: var(--btn-def-tranf);

  &:hover {
    z-index: 10;
    transform: scale(1.1);
    box-shadow: var(--btn-box-shadow-hover);
    translate: -2px -2px;

    &[data-home="true"] {
      box-shadow: var(--btn-box-shadow-hover-at-home)
    }
  }

  &:active,
  &[data-home="true"]:active {
    transform: scale(0.98);
    box-shadow: var(--box-shadow-clicked);
    translate: none;
  }

  &:focus-visible,
  &>.btn-header:focus-visible {
    outline: none;
    border-color: var(--green-bright);
  }

  &.active {
    transform: scale(0.85);
    cursor: default;
    translate: none;
    box-shadow: var(--box-shadow-paged);
    color: var(--text-grayed);
    border-color: var(--text-grayed);

    &.btn-anim .btn-header {
      box-shadow: var(--box-shadow-paged);
      color: var(--text-grayed);
      border-color: var(--text-grayed);
    }

    &:hover {
      box-shadow: var(--box-shadow-paged);
    }
  }
}

.text-anim {
  transition: var(--btn-def-tranf);

  &:hover {
    text-decoration: underline;

    z-index: 10;
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 20px rgb(0, 0, 0));
    translate: -2px -2px;

    &[data-home="true"] {
      filter: drop-shadow(5px 5px 6px rgb(165, 165, 165));
    }

    &:active,
    &[data-home="true"]:active {
      transform: scale(0.98);
      filter: drop-shadow(0px 0px 10px var(--green-bright));
      translate: none;
    }
  }

  &:focus-visible {
    outline: none;
    text-shadow: 2px 0 var(--green-bright), -2px 0 var(--green-bright), 0 2px var(--green-bright), 0 -2px var(--green-bright),
      2px 2px var(--green-bright), -2px -2px var(--green-bright), 2px -2px var(--green-bright), -2px 2px var(--green-bright);
    color: black;
  }

  &.active {
    transform: scale(0.85);
    text-decoration: underline;
    cursor: default;
    translate: none;
    color: var(--text-grayed);
    filter: none;
    pointer-events: none;
  }
}

.text-bg-box .btn-semi-big.btn-anim {

  &:hover {
    transform: scale(1.03);
    translate: 0px 0px;
  }
}

.navlink-back-btn {
  outline: none;
  background: none;

  svg {
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out, translate 0.2s ease-in-out;

    &:hover {
      z-index: 10;
      transform: scale(1.1);
      filter: drop-shadow(5px 5px 20px rgb(165, 165, 165));
      translate: -2px -2px;
    }

    &:active {
      transform: scale(0.98);
      filter: drop-shadow(0px 0px 10px var(--green-bright));
      translate: none;
    }
  }

  &:focus-visible path {
    stroke: var(--green-bright);
  }
}

.navlink-logo-h {
  outline: none;

  &[data-home="true"] {
    cursor: default;
  }

  &[data-home="true"] img:hover {
    transform: none;
    translate: none;
    filter: none;
  }

  img {
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out, translate 0.2s ease-in-out;

    &:hover[data-home="true"] {
      transition: none;
      transform: none;
    }

    &:hover {
      z-index: 10;
      transform: scale(1.1);
      filter: drop-shadow(5px 5px 20px rgb(0, 0, 0));
      translate: -2px -2px;
    }

    &:active {
      transform: scale(0.98);
      filter: drop-shadow(0px 0px 10px var(--green-bright));
      translate: none;
    }
  }

  &:focus-visible {
    filter: drop-shadow(1px 1px 0px var(--green-bright)) drop-shadow(-1px -1px 0px var(--green-bright));
  }
}

.navlink-logo-f {
  outline: none;

  &[data-home="true"] {
    cursor: default;
  }

  &[data-home="true"] img:hover {
    transform: none;
    translate: none;
    filter: none;
  }

  &:focus-visible {
    filter: drop-shadow(1px 1px 1px var(--green-bright)) drop-shadow(-1px -1px 1px var(--green-bright));
  }

  img {
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1), filter 1s cubic-bezier(0.34, 1.56, 0.64, 1);

    &:hover {
      transform: rotate(360deg) scale(1.1);
      filter: drop-shadow(2px 2px 20px var(--hover-shadow-col));
    }
  }
}

.input-anim {


  &:focus-visible {
    outline: none;
  }
}