form {

  .product-item-box .content-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .input-wrapper {
      margin: 30px 0 0 0;
    }

    .img-and-text {
      margin-top: 30px;

      @media (min-width: 600px) {
        height: 380px;

      }

      .img-and-input {

        .product-img {

          max-height: 240px;
        }


        img {
          max-height: 240px;
        }
      }
    }

    span {
      min-height: 1.2rem;
    }
  }

  .error {
    color: var(--red-bright);
  }

  span,
  input,
  label {
    text-shadow: var(--def-text-shadow);
  }

  .input-wrapper .desc-wrapper {
    margin-top: 0;
  }

  .desc-wrapper {
    padding: 5px;
    width: 50%;
    margin-top: 0;

    label {
      top: 10px;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  textarea {
    padding: 13px;
    resize: none;
    min-height: 256px;
    width: 100%;

    font-family: var(--text-font);
    color: var(--text);
    background-color: black;
    font-size: 0.9rem;
    border-radius: 8px;
    border: 2px solid var(--text);

    @media (max-width: 600px) {
      min-height: 150px;
    }
  }
}