nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-height);
  background: linear-gradient(to bottom, var(--bkg) 20%, var(--fade) 65%, transparent 90%);
  padding-bottom: 50px;
  margin-bottom: 10px;

  &>* {
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(to bottom, black 80%, transparent);
  }
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  flex: 1;
  gap: clamp(10px, 19.4vw - 130px, 80px);
}

.header-left {
  margin-left: 30px;
  justify-content: flex-start;
}

.header-right {
  margin-right: 30px;
  justify-content: flex-end;
  gap: clamp(10px, 19.4vw - 130px, 40px);
}

.header-left-logged-in {
  gap: clamp(10px, 40vw - 410px, 80px);
}

.header-right-logged-in {
  gap: clamp(10px, 42.4vw - 509px, 80px)
}

@media (max-width: 720px) {

  .header-right,
  .header-left>.burger-hidden {
    display: none;
  }

  .burger-btn {
    display: flex;
  }
}

@media (max-width: 1050px) {

  .header-right-logged-in,
  .header-left-logged-in>.burger-hidden {
    display: none;
  }

  .burger-logged-in {
    display: flex;
  }
}



.navlink-logo-h {
  position: relative;
  width: clamp(150px, 35vw, 180px);
  display: flex;
  padding: 10px;
  margin-top: 10px;
  background: none;
  background: radial-gradient(circle, var(--bkg) 60%, transparent 67%);

  .logo {
    min-width: 120px;
    min-height: 120px;
  }
}

.cart-and-counter {
  position: relative;

  div {
    position: absolute;
    bottom: 25px;
    left: 98px;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    font-size: 0.8rem;
    border: 2px solid var(--text);
  }
}

.email-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  p {
    padding-top: 4px;
    font-size: 0.8rem;
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  &[data-admin="true"] {
    color: var(--red-bright);
  }
}

.header-green {
  background: linear-gradient(to bottom, var(--green)10%, var(--green-gray) 50%, transparent 90%);

  .navlink-logo-h {
    background: radial-gradient(circle, var(--fade) 59%, transparent 0%);
  }
}

.navlink-back-btn {
  position: absolute;
  top: 200px;
  display: flex;
  padding: 10px;
  margin-left: 30px;

  @media(max-width: 690px) {
    top: 160px;
  }

  svg {
    width: 80px;
    height: 80px;
  }

  path {
    fill: black;
    stroke: var(--text);
    stroke-width: 1;
  }
}