:root {
  --bkg: #242424;
  --text: #F6F4D2;
  --green: #768965;
  --red: #A44A3F;
  --green-gray: #434a3c;

  --red-bright: #c5827a;
  --green-bright: #c4dead;

  --fade: #242424a4;
  --red-fade: #a44b3fc5;
  --green-fade: #7689659f;
  --text-fade: #f6f4d2b0;

  --fade-gradient: #24242496, var(--fade);

  --header-height: 230px;
  --header-height-mobile: 272px;

  --footer-height: 350px;
  --footer-height-mobile: 500px;

  --text-font: 'Lato', sans-serif;
  --header-font: 'Bebas Neue', cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 140%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: var(--text-font);
  color: var(--text);
  background-color: var(--bkg);
  font-size: 1rem;
  text-shadow: 0 0 3px black;
}

#root {
  min-height: 100svh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  min-height: 93svh;
  max-width: 1100px;
  margin: 0 auto;

  @media (max-width: 450px) {
    margin: 0;
  }
}

button,
nav,
a {
  /* font: inherit; */
  /* color: inherit; */
  /* border: none; */
  background-color: var(--fade);
  text-decoration: none;
}

h1,
h2,
h3,
nav,
button,
a {
  font-family: var(--header-font);
  letter-spacing: 7%;
  color: var(--text);
}

.active {
  box-shadow: 0px 0px 8px 5px var(--red-fade);
}

.logo {
  width: 100%;
  height: 100%;
}

.h-margin-down {
  margin-bottom: 3rem;
}

.h-margin-up {
  margin-top: 3rem;
}